.micro-st0{fill:#202127;}
.micro-st1{opacity:5.000000e-02;fill:url(#);}
.micro-st2{fill:url(#MICROSVGID_1_);}
.micro-st3{fill:url(#MICROSVGID_2_);}
.micro-st4{fill:url(#MICROSVGID_3_);}
.micro-st5{fill:url(#MICROSVGID_4_);}
.micro-st6{fill:url(#MICROSVGID_5_);}
.micro-st7{fill:#FFFFFF;}
.micro-st8{fill:none;stroke:#04A997;stroke-miterlimit:10;}
.micro-st9{opacity:0.7;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.micro-st10{fill:#A3A3A3;}
.micro-st11{fill:#6B6B6B;stroke:#A3A3A3;stroke-miterlimit:10;}
.micro-st12{fill:#BDBDBD;}
.micro-st13{fill:#757575;}
.micro-st14{fill:#04A997;}
.micro-st15{fill:none;stroke:#04A997;}
.micro-st16{display:none;}
.micro-st17{display:inline;}
.micro-st18{fill:none;stroke:#FFFFFF;stroke-width:0.5;}
.micro-st19{opacity:0.3;}
.micro-st20{fill:none;stroke:#704FC5;}
.micro-st21{fill:none;stroke:#704FC5;stroke-width:0.5;}
.micro-st22{fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st23{opacity:0.5;}
.micro-st24{fill:none;stroke:#704FC5;stroke-miterlimit:10;}
.micro-st25{fill:#704FC5;}
.micro-st26{opacity:0.2;}
.micro-st27{fill:url(#MICROSVGID_6_);}
.micro-st28{fill:url(#MICROSVGID_7_);}
.micro-st29{fill:url(#MICROSVGID_8_);}
.micro-st30{fill:url(#MICROSVGID_9_);}
.micro-st31{fill:url(#MICROSVGID_10_);}
.micro-st32{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:1,4;}
.micro-st33{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.micro-st34{enable-background:new    ;}
.micro-st35{fill:#FFFFFF;fill-opacity:0.3;stroke:#FFFFFF;stroke-miterlimit:10;}
.micro-st36{opacity:0.5;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.micro-st37{opacity:0.2;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.micro-st38{opacity:0.502;fill:#FFFFFF;}
.micro-st39{opacity:0.302;fill:#FFFFFF;}
.micro-st40{opacity:0.6;fill:#FFFFFF;}
.micro-st41{opacity:0.8;fill:#FFFFFF;}
.micro-st42{opacity:0.9;fill:#FFFFFF;}
.micro-st43{opacity:0.7;fill:#FFFFFF;}
.micro-st44{opacity:0.3;fill:#FFFFFF;}
.micro-st45{opacity:0.2;fill:#FFFFFF;}
.micro-st46{opacity:0.4;fill:#FFFFFF;}
.micro-st47{fill:none;stroke:#704FC5;stroke-miterlimit:10;stroke-dasharray:1,4;}
.micro-st48{opacity:0.5;fill:none;stroke:#704FC5;stroke-miterlimit:10;}
.micro-st49{opacity:0.2;fill:none;stroke:#704FC5;stroke-miterlimit:10;}
.micro-st50{opacity:0.1;fill:none;stroke:#704FC5;stroke-miterlimit:10;}
.micro-st51{opacity:0.3;fill:none;stroke:#704FC5;stroke-miterlimit:10;}
.micro-st52{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
.micro-st53{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
.micro-st54{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
.micro-st55{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
.micro-st56{fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-miterlimit:10;}
.micro-st57{opacity:0.8;}
.micro-st58{opacity:0.1;}
.micro-st59{opacity:0.15;}
.micro-st60{opacity:0.6;fill:#704FC5;}
.micro-st61{opacity:0.6;fill:#4C26AD;}
.micro-st62{opacity:0.8;fill:#684CB5;}
.micro-st63{opacity:0.8;fill:#522FB3;}
.micro-st64{opacity:0.9;fill:#704FC5;}
.micro-st65{opacity:0.7;fill:#4C26AD;}
.micro-st66{opacity:0.7;fill:#704FC5;}
.micro-st67{fill:#583F9C;}
.micro-st68{opacity:0.6;fill:#583F9C;}
.micro-st69{opacity:0.3;fill:#704FC5;}
.micro-st70{opacity:0.3;fill:#522FB3;}
.micro-st71{opacity:0.8;fill:#583F9C;}
.micro-st72{opacity:0.9;fill:#522FB3;}
.micro-st73{opacity:0.7;fill:#522FB3;}
.micro-st74{opacity:0.6;fill:#522FB3;}
.micro-st75{opacity:0.8;fill:#704FC5;}
.micro-st76{fill:none;stroke:#DFE88A;stroke-miterlimit:10;stroke-dasharray:1,4;}
.micro-st77{opacity:0.5;fill:#FFFFFF;}
.micro-st78{opacity:0.65;}
.micro-st79{opacity:0.302;fill:#704FC5;}
.micro-st80{opacity:0.702;fill:#5735B0;}
.micro-st81{opacity:0.6;fill:#5735B0;}
.micro-st82{opacity:0.4;fill:#704FC5;}
.micro-st83{opacity:0.702;fill:#704FC5;}
.micro-st84{fill:#6C29BD;}
.micro-st85{opacity:0.702;fill:#845DE8;}
.micro-st86{fill:#5735B0;}
.micro-st87{opacity:0.8;fill:#4C26AD;}
.micro-st88{opacity:0.8;fill:#6C29BD;}
.micro-st89{fill:#4C26AD;}
.micro-st90{fill:#845DE8;}
.micro-st91{opacity:0.702;fill:#6C29BD;}
.micro-st92{opacity:0.8;fill:#5735B0;}
.micro-st93{opacity:0.702;fill:#4C26AD;}
.micro-st94{opacity:0.6;}
.micro-st95{fill:none;stroke:#FFFFFF;stroke-width:1.5;stroke-miterlimit:10;}
.micro-st96{fill:#DFE84A;}
.micro-st97{display:inline;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:1,4;}
.micro-st98{display:inline;fill:none;stroke:#DFE88A;stroke-miterlimit:10;stroke-dasharray:1,4;}
.micro-st99{display:inline;fill:none;stroke:#FFFFFF;stroke-width:1.5;stroke-miterlimit:10;}
.micro-st100{fill:none;stroke:#FFFFFF;stroke-width:0.9724;stroke-miterlimit:10;}
.micro-st101{fill:none;stroke:#000000;stroke-width:0.9713;stroke-miterlimit:10;}
.micro-st102{fill:none;stroke:#000000;stroke-width:0.9034;stroke-linecap:round;stroke-miterlimit:10;}
.micro-st103{opacity:0.27;}
.micro-st104{fill:url(#MICROSVGID_11_);}
.micro-st105{fill:url(#MICROSVGID_12_);}
.micro-st106{fill:url(#MICROSVGID_13_);}
.micro-st107{fill:url(#MICROSVGID_14_);}
.micro-st108{fill:url(#MICROSVGID_15_);}
.micro-st109{display:inline;fill:none;stroke:#04A997;stroke-miterlimit:10;}
.micro-st110{display:none;stroke:#04A997;stroke-miterlimit:10;}
.micro-st111{display:none;fill:#FFFFFF;}
.micro-st112{fill:#5A9ADB;}
.micro-st113{fill:none;stroke:#5A9ADB;stroke-miterlimit:10;}
.micro-st114{opacity:0.25;fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st115{opacity:0.47;}
.micro-st116{opacity:0.25;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.micro-st117{clip-path:url(#MICROSVGID_17_);}
.micro-st118{clip-path:url(#MICROSVGID_19_);}
.micro-st119{clip-path:url(#MICROSVGID_21_);}
.micro-st120{fill:none;}
.micro-st121{fill:#704FC5;stroke:#704FC5;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st122{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:3,3;}
.micro-st123{clip-path:url(#MICROSVGID_23_);fill:none;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
.micro-st124{clip-path:url(#MICROSVGID_25_);fill:none;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
.micro-st125{clip-path:url(#MICROSVGID_28_);fill:none;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
.micro-st126{clip-path:url(#MICROSVGID_30_);fill:none;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
.micro-st127{clip-path:url(#MICROSVGID_32_);fill:none;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
.micro-st128{clip-path:url(#MICROSVGID_35_);fill:none;stroke:#000000;stroke-width:0.25;stroke-miterlimit:10;}
.micro-st129{clip-path:url(#MICROSVGID_37_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st130{clip-path:url(#MICROSVGID_39_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st131{clip-path:url(#MICROSVGID_41_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st132{clip-path:url(#MICROSVGID_43_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st133{clip-path:url(#MICROSVGID_45_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st134{clip-path:url(#MICROSVGID_47_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st135{clip-path:url(#MICROSVGID_49_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st136{clip-path:url(#MICROSVGID_52_);}
.micro-st137{clip-path:url(#MICROSVGID_53_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st138{clip-path:url(#MICROSVGID_56_);}
.micro-st139{clip-path:url(#MICROSVGID_57_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st140{clip-path:url(#MICROSVGID_59_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st141{clip-path:url(#MICROSVGID_61_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st142{clip-path:url(#MICROSVGID_63_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st143{clip-path:url(#MICROSVGID_66_);}
.micro-st144{clip-path:url(#MICROSVGID_67_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st145{clip-path:url(#MICROSVGID_70_);}
.micro-st146{clip-path:url(#MICROSVGID_71_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st147{clip-path:url(#MICROSVGID_73_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st148{clip-path:url(#MICROSVGID_75_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st149{clip-path:url(#MICROSVGID_77_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st150{clip-path:url(#MICROSVGID_80_);}
.micro-st151{clip-path:url(#MICROSVGID_81_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st152{clip-path:url(#MICROSVGID_84_);}
.micro-st153{clip-path:url(#MICROSVGID_85_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st154{clip-path:url(#MICROSVGID_87_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st155{clip-path:url(#MICROSVGID_89_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st156{clip-path:url(#MICROSVGID_91_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st157{clip-path:url(#MICROSVGID_94_);}
.micro-st158{clip-path:url(#MICROSVGID_95_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st159{clip-path:url(#MICROSVGID_98_);}
.micro-st160{clip-path:url(#MICROSVGID_99_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st161{clip-path:url(#MICROSVGID_101_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st162{clip-path:url(#MICROSVGID_103_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st163{clip-path:url(#MICROSVGID_105_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st164{clip-path:url(#MICROSVGID_108_);}
.micro-st165{clip-path:url(#MICROSVGID_109_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st166{clip-path:url(#MICROSVGID_112_);}
.micro-st167{clip-path:url(#MICROSVGID_113_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st168{clip-path:url(#MICROSVGID_115_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st169{clip-path:url(#MICROSVGID_117_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st170{clip-path:url(#MICROSVGID_119_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st171{clip-path:url(#MICROSVGID_122_);}
.micro-st172{clip-path:url(#MICROSVGID_123_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st173{clip-path:url(#MICROSVGID_126_);}
.micro-st174{clip-path:url(#MICROSVGID_127_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st175{clip-path:url(#MICROSVGID_129_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st176{clip-path:url(#MICROSVGID_131_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st177{clip-path:url(#MICROSVGID_133_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st178{clip-path:url(#MICROSVGID_136_);}
.micro-st179{clip-path:url(#MICROSVGID_137_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st180{clip-path:url(#MICROSVGID_140_);}
.micro-st181{clip-path:url(#MICROSVGID_141_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st182{clip-path:url(#MICROSVGID_143_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st183{clip-path:url(#MICROSVGID_145_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st184{clip-path:url(#MICROSVGID_147_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st185{clip-path:url(#MICROSVGID_150_);}
.micro-st186{clip-path:url(#MICROSVGID_151_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st187{clip-path:url(#MICROSVGID_154_);}
.micro-st188{clip-path:url(#MICROSVGID_155_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st189{clip-path:url(#MICROSVGID_157_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st190{clip-path:url(#MICROSVGID_159_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st191{clip-path:url(#MICROSVGID_161_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st192{clip-path:url(#MICROSVGID_164_);}
.micro-st193{clip-path:url(#MICROSVGID_165_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st194{clip-path:url(#MICROSVGID_168_);}
.micro-st195{clip-path:url(#MICROSVGID_169_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st196{clip-path:url(#MICROSVGID_171_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st197{clip-path:url(#MICROSVGID_173_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st198{clip-path:url(#MICROSVGID_175_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st199{clip-path:url(#MICROSVGID_178_);}
.micro-st200{clip-path:url(#MICROSVGID_179_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st201{clip-path:url(#MICROSVGID_182_);}
.micro-st202{clip-path:url(#MICROSVGID_183_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st203{clip-path:url(#MICROSVGID_185_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st204{clip-path:url(#MICROSVGID_187_);fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;}
.micro-st205{font-family:'refrigerator-deluxe';}
.micro-st206{font-size:19px;}
.micro-st207{font-size:11.5928px;}
.micro-st208{fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-miterlimit:10;stroke-dasharray:0,3.0124;}
.micro-st209{fill:#093632;}
.micro-st210{opacity:0.35;}
.micro-st211{fill:url(#MICROSVGID_188_);}
.micro-st212{fill:url(#MICROSVGID_189_);}
.micro-st213{fill:url(#MICROSVGID_190_);}
.micro-st214{fill:url(#MICROSVGID_191_);}
.micro-st215{opacity:0.4;}
.micro-st216{fill:#6B6B6B;stroke:#04A997;stroke-miterlimit:10;}
.micro-st217{fill:#DB5D46;}
.micro-st218{opacity:0.3;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.micro-st219{opacity:0.7;}
.micro-st220{fill:url(#MICROSVGID_192_);}
.micro-st221{fill:url(#MICROSVGID_194_);}
.micro-st222{fill:none;stroke:#F2F2F2;stroke-miterlimit:10;}
.micro-st223{fill:url(#MICROSVGID_195_);}
.micro-st224{fill:url(#MICROSVGID_196_);}
.micro-st225{opacity:0.36;fill:url(#MICROSVGID_197_);}
.micro-st226{opacity:0.36;}
.micro-st227{fill:none;stroke:#DBD446;stroke-miterlimit:10;}
.micro-st228{opacity:0.5;fill:none;stroke:#DBD446;stroke-miterlimit:10;}
.micro-st229{opacity:0.2;fill:none;stroke:#DBD446;stroke-miterlimit:10;}
.micro-st230{fill:none;stroke:#06EDD4;stroke-miterlimit:10;}
.micro-st231{opacity:0.2;fill:none;stroke:#FF9500;stroke-miterlimit:10;}
.micro-st232{opacity:0.5;fill:#DBD446;}
.micro-st233{fill:#DBD446;}
.micro-st234{opacity:0.8;fill:#DBD446;}
.micro-st235{opacity:0.3;fill:#DBD446;}
.micro-st236{fill:none;stroke:#05E3CB;stroke-miterlimit:10;}
.micro-st237{opacity:0.8;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.micro-st238{opacity:0.5;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:1,4;}
.micro-st239{opacity:0.1;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.micro-st240{fill:none;stroke:#5AFADF;stroke-miterlimit:10;}
.micro-st241{opacity:0.3;fill:none;stroke:#5AFADF;stroke-miterlimit:10;}
.micro-st242{opacity:0.5;fill:none;stroke:#5AFADF;stroke-miterlimit:10;}
.micro-st243{fill:none;stroke:#F88A98;stroke-miterlimit:10;}
.micro-st244{opacity:0.3;fill:none;stroke:#F88A98;stroke-miterlimit:10;}
.micro-st245{opacity:0.5;fill:none;stroke:#F88A98;stroke-miterlimit:10;}
.micro-st246{fill:none;stroke:#FFB600;stroke-miterlimit:10;}
.micro-st247{opacity:0.3;fill:none;stroke:#FF5B3E;stroke-miterlimit:10;}
.micro-st248{opacity:0.3;fill:none;stroke:#FFB600;stroke-miterlimit:10;}
.micro-st249{opacity:0.5;fill:none;stroke:#FFB600;stroke-miterlimit:10;}
.micro-st250{fill:none;stroke:#B0FCFF;stroke-miterlimit:10;stroke-dasharray:1,4;}
.micro-st251{fill:none;stroke:#B0FCFF;stroke-miterlimit:10;}
.micro-st252{opacity:0.5;fill:none;stroke:#B0FCFF;stroke-miterlimit:10;}
.micro-st253{opacity:0.2;fill:none;stroke:#B0FCFF;stroke-miterlimit:10;}
.micro-st254{opacity:0.1;fill:none;stroke:#B0FCFF;stroke-miterlimit:10;}
.micro-st255{opacity:0.3;fill:none;stroke:#B0FCFF;stroke-miterlimit:10;}
.micro-st256{fill:none;stroke:#B8A12A;stroke-miterlimit:10;stroke-dasharray:1,4;}
.micro-st257{fill:none;stroke:#B8A12A;stroke-miterlimit:10;}
.micro-st258{opacity:0.5;fill:none;stroke:#B8A12A;stroke-miterlimit:10;}
.micro-st259{opacity:0.2;fill:none;stroke:#B8A12A;stroke-miterlimit:10;}
.micro-st260{opacity:0.1;fill:none;stroke:#B8A12A;stroke-miterlimit:10;}
.micro-st261{opacity:0.3;fill:none;stroke:#B8A12A;stroke-miterlimit:10;}
.micro-st262{opacity:0.23;}
.micro-st263{display:none;fill:url(#MICROSVGID_198_);}
.micro-st264{fill:url(#MICROSVGID_200_);}
.micro-st265{display:none;opacity:0.1;}
.micro-st266{display:inline;fill:none;stroke:#F2F2F2;stroke-miterlimit:10;}
.micro-st267{fill:url(#MICROSVGID_201_);}
.micro-st268{fill:url(#MICROSVGID_202_);}
.micro-st269{display:none;opacity:0.36;fill:url(#MICROSVGID_203_);}
.micro-st270{display:none;opacity:0.36;}
.micro-st271{display:none;opacity:0.2;}
.micro-st272{display:inline;fill:#FFFFFF;}
.micro-st273{opacity:0;fill:#07D5C2;}
.micro-st274{fill:url(#MICROSVGID_206_);}
.micro-st275{fill:url(#MICROSVGID_207_);}
.micro-st276{fill:url(#MICROSVGID_208_);}
.micro-st277{fill:url(#MICROSVGID_209_);}
.micro-st278{fill:url(#MICROSVGID_210_);}
.micro-st279{fill:url(#MICROSVGID_211_);}
.micro-st280{fill:none;stroke:#F2F2F2;stroke-width:0.6598;stroke-miterlimit:10;}
.micro-st281{opacity:0.9;fill:none;stroke:#F2F2F2;stroke-width:0.6598;stroke-miterlimit:10;}
.micro-st282{opacity:0.8;fill:none;stroke:#F2F2F2;stroke-width:0.6598;stroke-miterlimit:10;}
.micro-st283{opacity:0.6;fill:none;stroke:#F2F2F2;stroke-width:0.6598;stroke-miterlimit:10;}
.micro-st284{opacity:0.4;fill:none;stroke:#F2F2F2;stroke-width:0.6598;stroke-miterlimit:10;}
.micro-st285{opacity:0.2;fill:none;stroke:#F2F2F2;stroke-width:0.6598;stroke-miterlimit:10;}
.micro-st286{fill:none;stroke:#FFFFFF;}
.micro-st287{fill:#676767;}