.tri-st0{opacity:0.1;}
.tri-st1{opacity:0.15;}
.tri-st2{fill:#704FC5;}
.tri-st3{opacity:0.6;fill:#704FC5;enable-background:new;}
.tri-st4{opacity:0.6;fill:#4C26AD;enable-background:new;}
.tri-st5{opacity:0.8;fill:#684CB5;enable-background:new;}
.tri-st6{opacity:0.8;fill:#522FB3;enable-background:new;}
.tri-st7{opacity:0.9;fill:#704FC5;enable-background:new;}
.tri-st8{opacity:0.7;fill:#4C26AD;enable-background:new;}
.tri-st9{opacity:0.7;fill:#704FC5;enable-background:new;}
.tri-st10{fill:#583F9C;}
.tri-st11{opacity:0.6;fill:#583F9C;enable-background:new;}
.tri-st12{opacity:0.3;fill:#704FC5;enable-background:new;}
.tri-st13{opacity:0.3;fill:#522FB3;enable-background:new;}
.tri-st14{opacity:0.8;fill:#583F9C;enable-background:new;}
.tri-st15{opacity:0.9;fill:#522FB3;enable-background:new;}
.tri-st16{opacity:0.7;fill:#522FB3;enable-background:new;}
.tri-st17{opacity:0.6;fill:#522FB3;enable-background:new;}
.tri-st18{opacity:0.8;fill:#704FC5;enable-background:new;}
.tri-st19{fill:none;stroke:#704FC5;stroke-miterlimit:10;}
.tri-st20{opacity:0.3;fill:none;stroke:#704FC5;stroke-miterlimit:10;enable-background:new;}
.tri-st21{opacity:0.5;fill:none;stroke:#704FC5;stroke-miterlimit:10;enable-background:new;}
.tri-st22{opacity:0.8;}
.tri-st23{opacity:0.65;}
.tri-st24{opacity:0.8;fill:#6C29BD;enable-background:new;}
.tri-st25{opacity:0.702;fill:#845DE8;enable-background:new;}
.tri-st26{enable-background:new;}
.tri-st27{opacity:0.6;fill:#5735B0;enable-background:new;}
.tri-st28{fill:#6C29BD;}
.tri-st29{opacity:0.302;fill:#704FC5;enable-background:new;}
.tri-st30{opacity:0.702;fill:#704FC5;enable-background:new;}
.tri-st31{fill:#845DE8;}
.tri-st32{opacity:0.702;fill:#5735B0;enable-background:new;}
.tri-st33{opacity:0.8;fill:#4C26AD;enable-background:new;}
.tri-st34{fill:#4C26AD;}
.tri-st35{opacity:0.4;fill:#704FC5;enable-background:new;}
.tri-st36{opacity:0.8;fill:#5735B0;enable-background:new;}
.tri-st37{fill:#5735B0;}
.tri-st38{opacity:0.702;fill:#6C29BD;enable-background:new;}
.tri-st39{opacity:0.702;fill:#4C26AD;enable-background:new;}
.tri-st40{opacity:0.8;enable-background:new;}
.tri-st41{fill:none;}
.tri-st42{opacity:0.5;enable-background:new;}
.tri-st43{fill:#FFFFFF;}
.tri-st44{opacity:0.3;}
.tri-st45{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
.tri-st46{opacity:0.6;enable-background:new;}
.tri-st47{fill:#DFE84A;}
.tri-st48{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;stroke-dasharray:1,4;}
.tri-st49{fill:none;stroke:#DFE88A;stroke-miterlimit:10;stroke-dasharray:1,4;}
.tri-st50{fill:none;stroke:#FFFFFF;stroke-width:1.5;stroke-linecap:round;stroke-miterlimit:10;}
.tri-st51{fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-miterlimit:10;}
.tri-st52{fill:none;stroke:#FFFFFF;stroke-width:1.5;stroke-miterlimit:10;}